packages
bin
obj
output
tools
externals
**/Resources/Resource.designer.cs
*.userprefs
.vs/
tmpnupkg/

.DS_Store
XPlat/DropboxApiV2/samples/DropboxV2ApiSampleDroid/.vs/DropboxV2ApiSampleDroid/xs/UserPrefs.xml

XPlat/DropboxApiV2/samples/DropboxV2ApiSampleiOS/.vs/DropboxV2ApiSampleiOS/xs/UserPrefs.xml
