trigger:
  - main
  - refs/tags/*

pr:
  - main

resources:
  repositories:
    - repository: internal-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
      ref: refs/heads/main
    - repository: components
      type: github
      name: xamarin/XamarinComponents
      endpoint: xamarin
      ref: refs/heads/main

variables:
  DotNet6Version: 6.0.200
  XamarinAndroidVsix: https://aka.ms/xamarin-android-commercial-d17-1-windows
  # NOTE: there wasn't a public release of 16.11 for macOS
  XamarinAndroidPkg: https://dl.internalx.com/vsts-devdiv/Xamarin.Android/public/5673868/d17-1/19b97b7614b275a84d9e38096bd1fe0e25a494d4/xamarin.android-12.2.0.4.pkg
jobs:
  - template: .ci/build.v1.yml@components
    parameters:
      timeoutInMinutes: 360
      areaPath: 'DevDiv\Xamarin SDK\Android'
      ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}:  # We only need to ship from OSX builds so don't run on windows
        windowsAgentPoolName: ''
        windowsImage: ''
        linuxImage: ''
      ${{ elseif eq(variables['System.TeamProject'], 'devdiv') }}:    # The AzurePipelines-EO pool is only available in DevDiv
        macosImage: 'macOS-11'                                  # the name of the macOS VM image
        windowsAgentPoolName: AzurePipelines-EO
        windowsImage: ''
        windowsImageOverride: AzurePipelinesWindows2019compliant
        linuxAgentPoolName: AzurePipelines-EO
        linuxsImage: ''
        linuxImageOverride: AzurePipelinesUbuntu20.04compliant
      xcode: 13.1
      buildType: 'manifest'
      validPackagePrefixes: 
      validPackagePrefixes:
        # Preferred prefixes
        - Xamarin
        - Mono
        # Other product prefixes
        - SkiaSharp
        - HarfBuzzSharp
        - mdoc
        # Historical prefixes
        - Masonry
        - GoogleGson
        - AndroidEasingFunctions
        - Square
        - JakeWharton.Picasso2OkHttp3Downloader
        - RecyclerViewAnimators
        - GoogleGson
      dotnet: $(DotNet6Version)
      preBuildSteps:
        - task: JavaToolInstaller@0
          displayName: install JDK 11
          inputs:
            versionSpec: '11'
            jdkArchitectureOption: 'x64'
            jdkSourceOption: 'PreInstalled'
        - pwsh: |
            dotnet tool install --global boots
          displayName: install .NET global tools
        - pwsh: |
            boots $(XamarinAndroidPkg)
          condition: eq(variables['System.JobName'], 'macos')
          displayName: install Xamarin.Android
        - pwsh: |
            boots $(XamarinAndroidVsix)
          condition: eq(variables['System.JobName'], 'windows')
          displayName: install Xamarin.Android
        - pwsh: |
            dotnet workload install android
          displayName: install .NET 6 Android Workload
          condition: ne(variables['System.JobName'], 'linux')
      tools:
        - 'xamarin.androidbinderator.tool': '0.5.3'
        - 'xamarin.androidx.migration.tool': '1.0.8'
  - ${{ if eq(variables['System.TeamProject'], 'devdiv') }}:
    - template: sign-artifacts/jobs/v2.yml@internal-templates
      parameters:
        dependsOn: [ 'linux', 'macos', 'windows' ]
        condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
    # Executive Order (EO): Software Bill of Materials (SBOM): https://eng.ms/docs/cloud-ai-platform/devdiv/one-engineering-system-1es/1es-docs/secure-supply-chain/ado-sbom-generator
    - template: compliance/sbom/job.v1.yml@internal-templates
      parameters:
        dependsOn: [ 'signing' ]
        artifactNames: [ 'nuget-signed' ]
        packageName: Xamarin.Components         # SBOM package name. TODO: Customize for specific component: Replace with the name of the nuget package such as Square.Moshi.Adapters
        packageVersionRegex: ''                 # SBOM package version. TODO: Customize for specific component: Regular expression used to glean the version number from the package name such as '(?i)^Square.Moshi.Adapters\.(?<version>\d+\.\d+\.\d+).nupkg$'
        packageFilter: '*.nupkg'
        condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
