trigger:
  - master
  - refs/tags/*
  
pr:
  - master

resources:
  repositories:
    - repository: internal-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
    - repository: components
      type: github
      name: xamarin/XamarinComponents
      endpoint: xamarin

jobs:
  - template: .ci/build.yml@components
    parameters:
      timeoutInMinutes: 360
      areaPath: 'DevDiv\Xamarin SDK\Android'
      buildType: 'manifest'
      linuxImage: 'Hosted Ubuntu 1604'
      targetsFilter: 'ci'
      validPackagePrefixes: 
        # Preferred prefixes
        - Xamarin
        - Mono
        # Other product prefixes
        - SkiaSharp
        - HarfBuzzSharp
        - mdoc
        # Historical prefixes
        - Masonry
        - GoogleGson
        - AndroidEasingFunctions
        - Square
      tools:
        - 'Xamarin.AndroidBinderator.Tool': '0.4.2'
  - ${{ if eq(variables['System.TeamProject'], 'devdiv') }}:
    - template: sign-artifacts/jobs/v1.yml@internal-templates
      parameters:
        dependsOn: [ 'build' ]
